<html>
    <head>
    </head>
    <body>
        <h2>
           MASTERMIND GAME 
        </h2>

        <h3><%= message %></h3>

        <form action='/game' method='GET'>
            <input type='submit' value='Play again?' />
        </form>

    </body>
</html>