<html>
    <head>
    </head>
    <body>
        <h2>
           MASTERMIND GAME 
        </h2>

        <form action = '/game' method='get'>
            <input type='submit' value='Play!' />
        </form>

    </body>
</html>